.dialogs {
  color: #0e0d0d;
  display: grid;
  grid-template-columns: 2fr 10fr;
  .dialog {
    padding: 5px
  }
  .active {
    color: gold;
  }
  .message {
    padding: 5px;
  }
  a {
    color: #B92B27;
    text-decoration: none;
  }
}